{{! YOUR CODE HERE }}
<h1> Add a Restaurant </h1>

<form action='/restaurants/new' method="post">
  <input type="text" name = "name" placeholder="Name"> </br>
  <input type="text" name = "category" placeholder="Category"> </br>
  <input type="text" name = "relativePrice" placeholder="Relative Price"> </br>
  <input type="text" name = "address" placeholder="Address"> </br>
  <!-- <input type="text" name = "oTime" placeholder="Open Time"> </br>
  <input type="text" name = "cTime" placeholder="Close Time"> </br> -->
  <input type="submit" value="Add Restaurant">
</form>
